@model Fabio.ProjetoTAC.Models.Cidade

@{
    ViewBag.Title = "Cadastrar Nova Cidade";
}

<h2>Cadastra uma nova Cidade</h2>

@using (Html.BeginForm("Basic","Basic")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cidade</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UF)
            @Html.ValidationMessageFor(model => model.UF)
        </div>

        <p>
            <input type="submit" value="Cadastrar" />
        </p>
    </fieldset>
}

<div class="voltar">
    
    @Html.ActionLink("Voltar", "../Basic/")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
