@model Fabio.ProjetoTAC.Models.Cidade

@{
    ViewBag.Title = "Excluir Cidade";
}

<h2>Excluir a Cidade</h2>

<h3>Tem certeza de que deseja excluir?</h3>
<fieldset>
    <legend>Cidade</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UF)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> 
    </p>

    <div class="voltar">
        @Ajax.ActionLink("Voltar", "../Cidade/Index", new AjaxOptions
                                                         {
                                                             InsertionMode = InsertionMode.Replace,
                                                             UpdateTargetId = "section",
                                                             LoadingElementId = "progress"
                                                         })
    </div>

}
