@model Fabio.ProjetoTAC.Models.Cidade

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Cidade</h2>

<fieldset>
    <legend>Cidade</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UF)
    </div>
</fieldset>
<div>
    <div class="editar" >

        @Ajax.ActionLink("Editar", "../Cidade/Edit/", new { id = Model.id }
                                                     ,new AjaxOptions
                                                         {
                                                             InsertionMode = InsertionMode.Replace,
                                                             UpdateTargetId = "section",
                                                             LoadingElementId = "progress"
                                                         })
    </div>
    
    <div class="voltar">
        @Ajax.ActionLink("Voltar", "../Cidade/Index", new AjaxOptions
                                                         {
                                                             InsertionMode = InsertionMode.Replace,
                                                             UpdateTargetId = "section",
                                                             LoadingElementId = "progress"
                                                         })
    </div>

</div>